<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication</title>
</head>
<body>
    <form id="signUpForm" action="/user/signUp" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required autocomplete="name"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required autocomplete="email"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Sign Up</button>
    </form>

    <form id="signInForm" action="/user/signIn" method="POST">
        <label for="signInName">Name:</label>
        <input type="text" id="signInName" name="signInName" required><br>
        <label for="signInEmail">Email:</label>
        <input type="text" id="signInEmail" name="signInEmail" required><br>
        <label for="signInPassword">Password:</label>
        <input type="password" id="signInPassword" name="signInPassword" required><br>
        <button type="submit">Sign In (for existing users)</button>
    </form>
</body>
</html>
 